img.logo {
	width: 48px;
	height: 48px;
}

.brand span.title {
	color: #ffffff;
	margin: 0 0 0 10px;
}

@media (max-width: 480px) {
	div.motto, span.geo-stream-item-age {
		display: none;
	}
}

div.motto {
	font-size: 14px;
	margin-top: 22px;
	float: left;
}

body {
	background: url("../img/bg.png");
}

.navbar a.btn-navbar {
	margin-top: 18px;
}

#geo-stream .hero-unit {
	padding: 15px;
	margin-bottom: 15px;
}
.geo-stream-item-overlay {
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
}

.geo-stream-clear {
	clear: both;
}

.geo-stream-item-avatar {
	float: left;
	width: 48px;
	height: 48px;
}

.geo-stream-item-avatar img {
	border-radius: 5px;
	width: 48px;
	height: 48px;
}

.geo-stream-item-content {
	position: relative;
	padding-left: 58px;
}

.geo-stream-item-age {
	position: absolute;
	right: 0;
	color: #999;
	font-weight: normal;
	font-size: 11px;
}

.geo-stream-item-userName {
	font-weight: bold;
	font-size: 1.1em;
	color: #333333;
}

a.geo-stream-item-userLink {
	color: #333;
	text-decoration: none;
}

a.geo-stream-item-userLink:hover {
	text-decoration: underline;
}
.geo-stream-item-via {
	font-size: 11px;
	color: #999;
	margin-left: 5px;
	font-weight: normal;
}

.geo-stream-item-gallery {
	margin: 10px 0;
}

.mediaGallery-thumbnails { 
	overflow: hidden;
}

.mediaGallery-item {
	width: 100%; display: none;
}

.mediaGallery-controls {
	text-align: center;
	margin-top: 10px;
}

.mediaGallery-control {
	display: inline-block;
	width: 8px;
	height: 8px;
	font-size: 0px;
	line-height: 8px;
	outline: none;
	border-radius: 4px;
	vertical-align: middle;
	margin-left: 8px;
	cursor: pointer;
	background-color: #c6c6c6;
	text-decoration: none; transition: all .2s ease-in 0; -moz-transition-property: all; -moz-transition-duration: .2s; -moz-transition-timing-function: ease-in; -moz-transition-delay: 0; -webkit-transition-property: all; -webkit-transition-duration: .2s; -webkit-transition-timing-function: ease-in; -webkit-transition-delay: 0;
}

.mediaGallery-control:hover {
	background-color: #ee7b11;
}

.mediaGallery-activeControl, .mediaGallery-activeControl:hover {
	background-color: #524d4d;
}

.mediaGallery-item img {
	max-width: none;
}
