img.logo {
	width: 48px;
	height: 48px;
}

.brand span.title {
	color: #ffffff;
	margin: 0 0 0 10px;
}

.brand span.motto {
	font-size: 14px;
	margin: 0 0 0 10px;

}

body {
	background: url("../img/bg.png");
}

#geo-stream .hero-unit {
	padding: 15px;
	margin-bottom: 15px;
}
.geo-stream-item-overlay {
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
}

.geo-stream-clear {
	clear: both;
}

.geo-stream-item-avatar {
	float: left;
	width: 48px;
	height: 48px;
}

.geo-stream-item-avatar img {
	border-radius: 5px;
	width: 48px;
	height: 48px;
}

.geo-stream-item-content {
	padding-left: 58px;
}

.geo-stream-item-userName {
	font-weight: bold;
	font-size: 1.1em;
	color: #333333;
}
